body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 400px;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-switch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-switch button {
    background: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    transition: background 0.3s;
}

.form-switch button.active {
    background: #007BFF;
    color: #fff;
}

.form {
    display: none;
}

.form:not(.hidden) {
    display: block;
}

.form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form button:hover {
    background: #0056b3;
}


.social-signin {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.social-signin a {
    display: flex;
    width: 15%;
    text-align: center;
}

.social-signin img {
    width: 200%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.social-signin a:hover img {
    opacity: 0.5;
}
